.login_bg {
  width: 100vw;
  height: 100vh;
  background: #fff url('@/assets/images/login/loginbg.png') no-repeat fixed center / cover;
  background-repeat: no-repeat;
}
.login_bg .place {
  height: 180px;
  opacity: 0;
}
.ant-btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.ant-form-item-required {
  font-size: 16px;
  color: #4c4848 !important;
}
.login_form {
  width: 400px;
  height: auto;
  padding: 40px;
  background-color: #fff;
  margin: 0 auto;
  color: #000;
  border-radius: 10px;
  box-shadow: 1px 3px 12px #cf6723;
}
.login_form .title {
  text-align: center;
  padding-bottom: 40px;
  color: #243f6f;
}
.login_form .right {
  float: right;
  color: #dd7521;
  cursor: pointer;
}
.ant-input-prefix {
  color: #918d8d;
}
