.apple-image {
  width: 100vw;
  height: 300px;
}
.ant-carousel .slick-slide img {
  width: 100vw !important;
}
.hot-product {
  width: 96%;
  margin: 0 auto;
  background-color: #fff;
  height: 350px;
  border-radius: 10px;
  margin-top: 10px;
}
.app-home {
  background-color: #f6f6f6;
  min-height: 100vh;
}
.box-title {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  padding: 10px;
}
.intro {
  display: flex;
  justify-content: space-around;
}
.intro img {
  width: 30%;
  height: 120px;
  border-radius: 10px;
  margin-top: 4px;
}
.detail {
  display: flex;
  justify-content: space-around;
  margin-top: 6px;
}
.bottom {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  background-color: #fff;
  padding: 10px;
  font-size: 16px;
}
.bottom .home-tab {
  color: #333;
}
.bottom .contract-tab {
  color: #333;
}
